:root{
    --logo-color: #87676F66;
    --button-color: linear-gradient(90deg, rgba(162, 44, 93, 0.18) 41.94%, rgba(200, 0, 0, 0.18) 100%);
    --overlay-color: linear-gradient(360deg, #141414 27.57%, rgba(0, 0, 0, 0) 65.64%);

    --logo-font-color: #CED1D3;
    --font-color: #F2EBE3;

    --light-weight: 400;
    --neutral-weight: 600;
    --heavy-weight: 700;

    --para-family: "Mulish", sans-serif;
    --para-size: 18px;

    --bg-img: url("../assets/images/background image desktop.svg")
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--para-family);
    color: var(--font-color);
}

body{
    background-color: black;
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body::after{
    background: var(--overlay-color);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}